<%- include('partials/composeheader'); -%>

<!-- Compose page to write new blog posts -->
<div class="compose-section container">
  <h2 class="compose-header">Compose your new Blog post</h2>
  <form action="/compose" method="POST">
    <div class="compose-form form-group">
      <label class="font" for="title">Title:</label>
      <input type="text" class="compose-ph form-control" id="title" placeholder="Title of the blog post" name="title">
    </div>
    <div class="compose-form form-group">
      <label class="font" for="author">Author:</label>
      <input type="text" class="compose-ph form-control" id="author" placeholder="Author of the blog post"
        name="author">
    </div>
    <div class="compose-form form-group">
      <label class="font" for="image">Image:</label>
      <input type="text" class="compose-ph form-control" id="image" placeholder="Image URL for the blog post (weblink)"
        name="image">
    </div>
    <div class="compose-form form-group">
      <label class="font" for="body" class="post">Post:</label>
      <br>
      <textarea name="post" class="compose-ph form-control" placeholder="Type your post..."></textarea>
    </div>
    <button type="submit" class="compose-btn btn btn-default">Submit</button>
  </form>
</div>

<%- include('partials/footer'); -%>