
.container1{
  font-family: 'Archivo Narrow', sans-serif; 
  
}

.postl{
  width:60%;
  float: left;
}

.content{
  text-align: justify;
}

.name{
  font-size: 35px;
  text-align: justify;

}

.left-column{
  float:left;
  width:75%;
}

.right-column{
  width:25%;
  float:right;
  background-color:rgb(196, 113, 125) ;
  text-align: center;
}
.pic{
  padding:20px;
  background-color:rgb(196, 113, 125);
  margin-right: 40px;
  text-align: center;
}

.author{
  color: rgb(54, 53, 53);
  text-align: left;
}

.postr{
  width: 30%;
  float: right;
}
.final-post{
  background-color:rgb(196, 113, 125);
  padding:10px 10px 10px 10px;
  margin-top: 20px;
  
}
.geo{
  font-size: 35px;
  text-align: justify;

}
.btn{
  
  border: 2px solid white;
  color:white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  
}
.btn:hover {background-color: #e7e7e7;}

.container1 {
  position: relative;
  width: 50%;
}

.image1{
  padding: 20px 20px 0px 20px;
  display: inline-block;
  width: 100%;
  height: auto;
  margin-left: 32px ;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e7e7e7;
  overflow: hidden;
  width: 210px;
  margin-left: 52px;
  height: 0;
  transition: .5s ease;
  
}

.container1:hover .overlay {
  height: 50%;
}

.text {
  color:black;
  font:bolder;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media(max-width:700px)
{
  .left-column,.right-column{
    width:100%;
    padding:0px;
  }
}